*{outline-style: none;outline:none;padding:0px;margin:0px;}
html{outline-style: none;outline:none;padding:0px;margin:0px;}
body{margin:0px;padding:0px;font:11px verdana;outline-style: none;}
a:active {outline:none;}
:focus {-moz-outline-style:none;}
.hide{display:none;}

a{ text-decoration:none;}


/* TOPO */
#content {margin: 0 auto; text-align:center;}
.container{width:760px; background-color:#FFF}
.menu_admin{ font:14px Verdana, Geneva, sans-serif; color:#006;}

/* Formulários */
#formFloat{margin-top:20px;padding:5px;border:0px solid red;}
.formDefault .button{border:1px solid #b2b2b2;color:#666;padding:6px;font:12px verdana;background-color: #fff;}
.formDefault .button:hover{border:1px solid #b2b2b2;color:#666;padding:6px;font:12px verdana;background-color: #f0f0f0;}
.formDefault label{font:bold 11px verdana;padding:3px;padding-left:0px;margin:2px;margin-top:15px;color:#999;display: block;width:200px;border:0px solid blue;height:25px}
.formDefault input{font:12px verdana;padding:6px;margin:2px;width:200px;border:1px solid #b2b2b2;background-color: #f9f9f9;color:#666;}
.formDefault select{font:12px verdana;padding:6px;margin:2px;border:1px solid #b2b2b2;background-color: #f9f9f9;color:#666;}
.formDefault option{font:11px verdana;padding:0px;margin:1px;border:0px solid #333;}
.controls{padding-bottom: 10px;border-bottom:1px dashed #b2b2b2;}
#validate_message{padding:5px;font: 11px verdana;color:red;border-bottom:0px dashed #b2b2b2;}
.formDefault .invalid{border:1px solid red;}

.rodape{padding: 10px 0 10px 0; width:100%}